header {
  margin-bottom: 1rem;
}

table {
  margin-bottom: 3rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

.flex-header {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000;
  margin-bottom: 0.2rem;
}

.flex-header p {
  padding: 0;
  margin: 0;
}

.flex-header p:nth-child(1) {
  flex-direction: row;
  font-size: 2rem;
  font-weight: bold;
}


.flex-header p:nth-child(2) {
  text-align: center;
  flex-direction: row;
  font-size: 1rem;
}

.img {
  width: 7rem;
  height: 4.5rem;
}

button {
  margin-top: 0.5rem;
}

#messages {
  margin-top: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 590px) {
  .descricao {
      display: none;
  }
}

