footer {
  position: fixed;
  bottom:0;
  text-align: center;
}

/* header {
  margin-bottom: 1rem;
}

table {
  margin-bottom: 3rem;
}


.nav-link:hover {
  border-bottom: 1px solid white;
}

.flex-header {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000;
  margin-bottom: 0.2rem;
}

.flex-header p {
  padding: 0;
  margin: 0;
}

.flex-header p:nth-child(1) {
  flex-direction: row;
  font-size: 2rem;
  font-weight: bold;
}

.flex-header p:nth-child(2) {
  text-align: center;
  flex-direction: row;
  font-size: 1rem;
}

button {
  margin-top: 0.5rem;
}
 */
